<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="">
                <span data-feather="users"></span>
                Etiquetas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <span data-feather="bar-chart-2"></span>
                Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">
                <span data-feather="layers"></span>
                Comentarios
            </a>
        </li>
    </ul>

 </div>